{% extends "base.html" %}

{% block app_content %}

{% if not request.args.get("force") %}
<div class="row mt-3 mb-5">
    <div class="col"><div class="progress registration-steps fs-5">
        <div class="progress-bar w-25 bg-success bg-gradient">
            {{ _("Compte") }}
        </div>
        <div class="progress-bar w-25 bg-success bg-gradient border-start">
            {{ _("Chambre") }}
        </div>
        <div class="progress-bar w-25 bg-success bg-gradient border-start">
            {{ _("Appareil") }}
        </div>
        <div class="progress-bar w-25 bg-secondary bg-gradient border-start"
             id="last">
            {{ _("Internet") }}
        </div>
    </div></div>
</div>
{% endif %}
<div class="row mb-3">
    <div class="col">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row"><p>
    {{ _("C'est tout bon ! La passerelle va être configurée pour accorder "
         "l'accès à Internet à cet appareil.") }}
</p></div>
<div class="row"><p>
    {{ _("Cette opération peut prendre quelqeues minutes. Cette page "
         "indiquera automatiquement quand ce sera bon !") }}
</p></div>
<div class="row mt-2 mb-4">
    <script src={{ url_for("static",
                           filename="bower_components/web-pingjs/ping.js")}}
            defer></script>
    <script src={{ url_for("static", filename="js/device-connect-check.js")}}
            defer></script>
    <div>
        <div class="d-flex align-items-center">
            {{ _("Test de la connexion...") }}
            <div class="spinner-border text-primary mx-3" id="spinner">
                <span class="visually-hidden">Loading...</span>
            </div>
            <span id="result" class="text-success fw-bold opacity-0">
                <span class="me-3">{{ _("Connecté !") }}
                </span>>
                <a href={{ url_for("main.rickroll") }}>
                    {{ _("Accéder à l'IntraRez") }}
                </a>
                </span>
            </span>

        </div>
    </div>
</div>
<div class="row mt-5"><p>
    {{ _("Si il n'y a toujours rien après 10 minutes, essayez "
         "de débrancher / rebrancher l'appareil, puis de le redémarrer.") }}
</p></div>
<div class="row"><p>
    {{ _("Si le problème persiste, ") }}
    <a href="{{ url_for("main.contact") }}">{{ _("contactez-nous") }}</a>
    {{ _("pour voir ensemble comment résoudre ce problème.") }}
</p></div>

{% endblock %}
