{% extends "base.html" %}
{% import "_form.html" as wtf %}

{% block app_content %}

{% if not request.args.get("force") %}
<div class="row mt-3 mb-5">
    <div class="col"><div class="progress registration-steps fs-5">
        <div class="progress-bar w-25 bg-secondary bg-gradient">
            {{ _("Compte") }}
        </div>
        <div class="progress-bar w-25 bg-light text-muted border-start">
            {{ _("Chambre") }}
        </div>
        <div class="progress-bar w-25 bg-light text-muted border-start">
            {{ _("Appareil") }}
        </div>
        <div class="progress-bar w-25 bg-light text-muted border-start">
            {{ _("Internet") }}
        </div>
    </div></div>
</div>
{% endif %}
<div class="row mb-3">
    <div class="col">
        <h1>{{ title }}</h1>
    </div>
</div>
<form action="" method="post" role="form">
    {{ form.hidden_tag() }}
    <div class="row row-cols-1 row-cols-lg-2 mb-4">
        <div class="col"><div class="form-floating mb-3">
            {{ wtf.form_field(form.prenom) }}
        </div></div>
        <div class="col"><div class="form-floating mb-3">
            {{ wtf.form_field(form.nom) }}
        </div></div>
        <div class="col"><div class="form-floating mb-3">
            {{ wtf.form_field(form.promo) }}
        </div></div>
        <div class="col"><div class="form-floating mb-3">
            {{ wtf.form_field(form.email) }}
        </div></div>
        <div class="col"><div class="form-floating mb-3">
            {{ wtf.form_field(form.password) }}
        </div></div>
        <div class="col"><div class="form-floating mb-3">
            {{ wtf.form_field(form.password2) }}
        </div></div>
        <div>
            {{ wtf.form_field(form.submit) }}
        </div>
    </div>
</form>
<div class="row"><p>
    {{ _("Déjà inscrit ?") }}
    <a class="btn btn-outline-primary ms-2"
       href="{{ url_for("auth.login", **request.args) }}">
        {{ _("Connexion") }}
    </a>
    </p></div>

{% endblock %}
