{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

    <div class="row mb-2">
        <div class="col">
            <h1>{{ _("Nouveau mot de passe") }}</h1>
        </div>
    </div>
    <div class="row mb-4">
        <form action="" method="post" role="form">
            {{ form.hidden_tag() }}
            <div class="form-floating mb-3">
                {{ wtf.form_field(form.password) }}
            </div>
            <div class="form-floating mb-3">
                {{ wtf.form_field(form.password2) }}
            </div>
            <div>
                {{ wtf.form_field(form.submit) }}
            </div>
        </form>
    </div>
    <div class="row"><p>
        {{ _("Ça t'es revenu ?") }}
        <a class="btn btn-outline-primary ms-2"
           href="{{ url_for("auth.login") }}">
            {{ _("Connexion") }}
        </a>
    </p></div>

{% endblock %}
