{% block doc %}
<!DOCTYPE html>
<html lang="{{ get_locale() }}">
    {% block html %}
    <head>
        {% block head %}
        {% block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock metas %}
        {% endblock head %}
    </head>
    <body {% block body_attribs %}{% endblock body_attribs %}
          class="d-flex flex-column min-vh-100"
          style="font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;">
        {% block body %}
        {% block navbar %}
        <nav class="navbar navbar-light mb-4 py-0
                    bg-primary border-bottom border-2 border-secondary">
            <div class="container-fluid ps-0">
                <a class="navbar-brand p-0" href="{{ url_for("main.index") }}">
                    <img src="{{ url_for("static", filename="img/gri.png") }}"
                         width="80" height="80"
                         class="d-inline-block m-0" alt="GRI">
                    <span class="align-text-top">/&nbsp;<b>IntraRez</b></span>
                    {% if config.get("BRANCH") %}
                    <span class="badge rounded-pill bg-warning text-dark ms-2">
                        {{ config["BRANCH"] }}
                    </span>
                    {% endif %}
                </a>
            </div>
        </nav>
        {% endblock navbar %}
        {% block content %}
        <div style="margin-right: 10%; margin-left: 10%;">
            {% block app_content %}{% endblock app_content %}
        </div>
        {% endblock content %}
        {% block footer %}
        <footer class="bd-footer pt-3 mt-5 bg-light"
                style="margin-right: 10%; margin-left: 10%;">
            <div class="container py-3"><div class="row gx-4">
                <div class="col-auto">
                    <a class="d-inline-flex align-items-center mb-2
                              link-dark text-decoration-none fs-5"
                       href="{{ url_for("main.index") }}">
                        Intranet de la Rez
                    </a>
                    <div class="small text-muted mb-3">
                        &copy;&nbsp;2021 GRI ESPCI –
                        <a href="{{ url_for("main.changelog") }}"
                           class="text-muted">
                            {{ _("Version") }} {{ __version__ }}
                        </a>
                    </div>
                </div>
                <div class="col-auto offset-1 mb-2 me-4">
                    <a href="{{ url_for("main.index") }}"
                       class="link-secondary">
                        {{ _("Accueil") }}
                    </a>
                </div>
                <div class="col-auto mb-2 me-4">
                    <a href="{{ url_for("main.contact") }}"
                       class="link-secondary">
                        {{ _("Nous contacter") }}
                    </a>
                </div>
            </div></div>
        </footer>
        {% endblock footer %}
        {% endblock body %}
    </body>
    {% endblock html %}
</html>
{% endblock doc %}
