{% extends "mails/base.html" %}

{% block app_content %}

<div class="row mb-3">
    <div class="col">
        <h2>{{ _("Votre abonnement a expiré") }}</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>{{ _("Bonjour %(name)s,", name=current_user.prenom) }}</p>
        <p>
            {{ _("Votre abonnement à Internet vient d'expirer. "
                "Vous disposez d'<strong>un mois</strong> pour le "
                "renouveller, après quoi votre accès Internet sera "
                "<strong>automatiquement coupé</strong>.") }}
        </p>
        <p class="text-muted">
            {{ _("Si vous avez quitté la Rezidence, il vous suffit de "
                "<strong>déclarer la fin de votre location</strong> pour"
                "que nous ne vous envoyons plus d'email.") }}
        </p>
    </div>
</div>
<div class="row mb-3">
    <div class="col"><p>
        {{ _("Une idée, un commentaire ? N'hésitez pas à ") }}
        <a href="{{ url_for("main.contact") }}">{{ _("nous en faire part") }}
        </a> !
    </p></div>
</div>

{% endblock %}
