{% extends "base.html" %}
{% import "_form.html" as wtf %}

{% block app_content %}

{% if not request.args.get("force") and not doas %}
<div class="row mt-3 mb-5">
    <div class="col"><div class="progress registration-steps fs-5">
        <div class="progress-bar w-25 bg-success bg-gradient">
            {{ _("Compte") }}
        </div>
        <div class="progress-bar w-25 bg-secondary bg-gradient border-start">
            {{ _("Chambre") }}
        </div>
        <div class="progress-bar w-25 bg-light text-muted border-start">
            {{ _("Appareil") }}
        </div>
        <div class="progress-bar w-25 bg-light text-muted border-start">
            {{ _("Internet") }}
        </div>
    </div></div>
</div>
{% endif %}
<div class="row mb-3">
    <div class="col">
        <h1>{{ title }}</h1>
    </div>
</div>

{% if doas %}
<div class="row">
    {% include "doas.html" %}
</div>
{% endif %}

<div class="row"><p>
    {{ _("Merci de renseigner ta chambre actuelle, ainsi que le début de la "
          "location (approximativent).") }}
</p></div>
<div class="row"><p>
    {{ _("La date de fin n'est pas obligatoire.") }}
</p></div>
<div class="row">
    <form action="" method="post" role="form" id="rental_form">
        {{ form.hidden_tag() }}
        <div class="col"><div class="form-floating mb-3">
            {{ wtf.form_field(form.room) }}
        </div></div>
        <div class="col"><div class="form-floating mb-3">
            {{ wtf.form_field(form.start) }}
        </div></div>
        <div class="col"><div class="form-floating mb-3">
            {{ wtf.form_field(form.end) }}
        </div></div>
        <div>
            {{ wtf.form_field(form.submit) }}
        </div>
    </form>
</div>

{% if already_rented %}
<!-- Modal -->
<div class="modal fade" id="warning" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{ _("Chambre déjà occupée !") }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="{{ _("Fermer") }}"></button>
    </div>
    <div class="modal-body">
        <p>
            {{ _("La chambre indiquée (%(num)d) est enregistrée comme déjà "
                 "occupée !", num=already_rented) }}
        </p>
        <ul>
        <li class="mb-2">
            {{ _("Soit vous venez de récupérer la chambre, auquel cas "
                 "pas de panique, c'est simplement que l'ancien Rezident "
                 "n'a pas signalé son départ. Validez sans crainte.") }}
        </li>
        <li class="mb-2">
            {{ _("Soit il s'agit d'une sous-location, auquel cas nous vous "
                 "conseillons de voir avec le propriétaire pour plutôt qu'il "
                 "enregistre votre appareil sur son compte. Sans cela, nous "
                 "vous demenderons bientôt de payer la connexion Internet.") }}
        </li>
        <li>
            {{ _("Soit il s'agit d'une colocation (ou autre cas de figure), "
                 "auquel cas nous vous demendons d'utiliser un seul compte "
                 "pour la chambre, au nom du propriétaire officiel. En effet, "
                 "si vous continuez, tous les appareils précédemment "
                 "enregistrés ici perderont l'accès au réseau.") }}
        </li>
        </ul>
        <p class="text-danger">
            {{ _("N'essayez pas d'abuser du système ou de vous en servir "
                 "à des fins peu recommendables ! Les GRI ouvrent l'œil, "
                 "et vous n'avez pas envie de les fâcher...") }}
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">
            {{ _("Modifier" )}}
        </button>
        <button type="submit" form="rental_form" class="btn btn-danger">
            {{ _("Valider cette chambre (%(num)d)", num=already_rented) }}
        </button>
    </div>
    </div>
</div>
</div>
<script src="{{ url_for("static", filename="js/rooms-register.js") }}" defer>
</script>
{% endif %}

{% endblock %}
