{# Account card - used variables: rezident #}
{% extends "cards/base.html" %}

{% block card_title %}
{{ _("Compte") }}
{% endblock %}

{% block card_icon %}
{{ bootstrap_icon("person-badge") }}
{% endblock %}

{% block card_table %}
<tr>
    <th scope="row" class="ps-4">{{ _("Identifiant") }}</th>
    <td>{{ rezident.username }}</td>
</tr>
<tr>
    <th scope="row" class="ps-4">{{ _("Nom") }}</th>
    <td class="text-break">{{ rezident.nom }}</td>
</tr>
<tr>
    <th scope="row" class="ps-4">{{ _("Prénom") }}</th>
    <td class="text-break">{{ rezident.prenom }}</td>
</tr>
<tr>
    <th scope="row" class="ps-4">{{ _("Promotion") }}</th>
    <td>{{ {
            "ext": _("Locataire non-ESPCI"),
            "sousloc": _("Sous-locataire")
        }.get(rezident.promo, rezident.promo)
    }}</td>

</tr>
<tr>
    <th scope="row" class="ps-4">{{ _("Email") }}</th>
    <td class="text-break">
        <a href="mailto:{{ rezident.email }}" class="text-dark">
            {{ rezident.email }}
        </a>
    </td>
</tr>
{% endblock %}

{% block card_footer %}
<div class="d-inline-block me-3 mb-2" data-bs-toggle="tooltip"
     data-bs-placement="top" title="{{ _("Fonctionnalité à venir") }}">
    <button class="btn btn-outline-dark" disabled>
        {{ _("Modifier une information") }}
    </button>
</div>
<div class="d-inline-block me-3 mb-2" data-bs-toggle="tooltip"
     data-bs-placement="top" title="{{ _("Fonctionnalité à venir") }}">
    <button class="btn btn-outline-dark" disabled>
        {{ _("Changer de mot de passe") }}
    </button>
</div>
{% endblock %}
