{# Profile card - used variables: rezident #}
{% extends "cards/base.html" %}

{% block card_title %}
{{ _("Mon profil") }}
{% endblock %}

{% block card_icon %}
{{ macros.bootstrap_icon("person-badge") }}
{% endblock %}

{% block card_table %}
<tr>
    <th scope="row" class="ps-4">{{ _("Mon compte") }}</th>
    <td>{{ rezident.username }}</td>
</tr>
<tr>
    <th scope="row" class="ps-4">{{ _("Ma chambre") }}</th>
    <td>{{ rezident.current_room.num }}</td>
</tr>
<tr>
    <th scope="row" class="ps-4">{{ _("Nombre d'appareils") }}</th>
    <td>{{ len(rezident.devices) }}</td>
</tr>
{% endblock %}

{% block card_footer %}
<a href="{{ url_for("profile.main") }}" class="btn btn-outline-dark">
    {{ _("Voir mon profil") }}
</a>
{% endblock %}
