{% extends "base.html" %}

{% block app_content %}

    <div class="row mb-3">
        <div class="col">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row"><p>
        {{ _("Ces notes de mise à jour présentent les modifications "
             "principales du point de vue utilisateur. Pour un changelog "
             "plus technique, voir") }}
        <a href="https://github.com/GRI-ESPCI/intrarez/blob/main/CHANGELOG.md">
            {{ _("sur GitHub") }}</a>.
    </p></div>
    <div class="row mb-2">
        <h4>v1.5 – {{ moment(datetime.date(2022, 2, 11)).format("L") }}</h4>
        <ul class="ms-5">
            <li>
                {{ _("Mise en service des paiements : ") }}
                <ul class="mb-2">
                    <li>{{ _("Page générique d'information ;") }}</li>
                    <li>{{ _("Page de choix de l'offre et du moyen de "
                             "paiement ;") }}</li>
                    <li>{{ _("Pages de paiement par Lydia / CB, virement "
                             "bancaire ou espèces ;") }}</li>
                    <li>{{ _("Page d'ajout / validation de paiement pour les "
                             "GRI ;") }}</li>
                    <li>{{ _("Souscription automatique à l'offre de bienvenue "
                             "lors de la première connexion ;") }}</li>
                    <li>{{ _("Intégration à la page d'accueil et à la barre "
                             "de menu.") }}</li>
                </ul>
            </li>
            <li>
                {{ _("Envoi de mails riches, au format HTML :") }}
                <ul class="mb-2">
                    <li>{{ _("Lors de la création de compte ;") }}</li>
                    <li>{{ _("En cas d'oubli de mot de passe ;") }}</li>
                    <li>{{ _("Lors de la perte de sa chambre ;") }}</li>
                    <li>{{ _("À la validation d'un paiement ;") }}</li>
                    <li>{{ _("Un mois avant, une semaine avant et le jour "
                             "d'expiration d'un abonnement.") }}</li>
                </ul>
            </li>
            <li>
                {{ _("Ajout de la possibilité de modifier : ") }}
                <ul class="mb-2">
                    <li>{{ _("Une information sur son profil ;") }}</li>
                    <li>{{ _("Son mot de passe ;") }}</li>
                    <li>{{ _("Les dates d'une location ;") }}</li>
                    <li>{{ _("Les informations sur un appareil.") }}</li>
                </ul>
            </li>
            <li>
                {{ _("La langue préférée (français ou anglais, selon les "
                     "paramètres du navigateur) est enregistrée pour chaque "
                     "Rezident, et utilisée pour l'envoi des mails.") }}
            </li>
            <li>
                {{ _("Ajout d'un mode maintenance activable par les GRI.") }}
            </li>
            <li>
                {{ _("Ajout d'une page GRI pour exécuter un script.") }}
            </li>
        </ul>
    </div>
    <div class="row mb-2">
        <h4>v1.4 – {{ moment(datetime.date(2021, 12, 20)).format("L") }}</h4>
        <ul class="ms-5">
            <li>
                {{ _("L'IntraRez est maintenant utilisable depuis l'extérieur "
                     "de la Rezidence, à l'adresse ") }}
                <a href="{{ url_for("main.index") }}">
                    {{ config["SERVER_NAME"] }}</a>
                {{ _("(sauf pour la création de compte).") }}
            </li>
            <li>
                {{ _("L'utilisation du formulaire de contact depuis "
                     "l'extérieur est maintenant soumise à un captcha.") }}
            </li>
        </ul>
    </div>
    <div class="row mb-2">
        <h4>v1.3 – {{ moment(datetime.date(2021, 12, 6)).format("L") }}</h4>
        <ul class="ms-5">
            <li>
                {{ _("Ajout du mécanisme de changement de chambre.") }}
            </li>
            <li>
                {{ _("Ajout de l'adresse IP attribuée aux appareils dans le "
                     "profil.") }}
            </li>
            <li>
                {{ _("Les GRI peuvent maintenant gérer les chambres et les "
                     "appareils des Rezidents.") }}
            </li>
            <li>
                {{ _("Ajout de cette page.") }}
            </li>
        </ul>
    </div>
    <div class="row mb-2">
        <h4>v1.2 – {{ moment(datetime.date(2021, 11, 23)).format("L") }}</h4>
        <ul class="ms-5">
            <li>
                {{ _("Ajout d'options GRI pour la gestion des Rezidents "
                     "et la surveillance du réseau.") }}
            </li>
        </ul>
    </div>
    <div class="row mb-2">
        <h4>v1.1 – {{ moment(datetime.date(2021, 11, 14)).format("L") }}</h4>
        <ul class="ms-5">
            <li>
                {{ _("Mise en place d'un portail captif pour simplifier la "
                     "connexion au réseau.") }}
            </li>
        </ul>
    </div>
    <div class="row mb-2">
        <h3>v1.0 – {{ moment(datetime.date(2021, 11, 13)).format("L") }}</h3>
        <p>{{ _("Première version publique.") }}</p>
    </div>

{% endblock %}
