{% extends "base.html" %}

{% block app_content %}

<script src="{{ url_for("static", filename="js/tooltips.js") }}"
        defer></script>

<div class="row mb-3">
    <div class="col">
        <h1>{{ _("Bonjour, %(name)s !", name=g.rezident.prenom) }}</h1>
    </div>
</div>
<div class="row">
    <div class="col"><p>
        {{ _("Bienvenue sur l'IntraRez ! Cette version moderne du vieux site "
             "d'enregistrement que vous avez peut-être connu n'en est encore "
             "qu'à ses balbutiements, et nous avons plein d'idées de "
             "fonctionnalités qui devraient voir le jour sous peu.") }}
    </p></div>
</div>
<div class="row mb-3">
    <div class="col"><p>
        {{ _("Une idée, un commentaire ? N'hésitez pas à ") }}
        <a href="{{ url_for("main.contact") }}">{{ _("nous en faire part") }}
        </a> !
    </p></div>
</div>
<div class="row row-cols row-cols-xl-3 gy-4 gx-1">
    {% with user = g.rezident %}
    <div class="col">
        {% include "cards/profile.html" %}
    </div>
    {% endwith %}
    <div class="col">
        {% include "cards/coming_soon.html" %}
    </div>
</div>

{% endblock %}
