{% extends "base.html" %}

{% block app_content %}

<script src="{{ url_for("static", filename="js/main-profile.js") }}"
        defer></script>

<div class="row mb-3">
    <div class="col">
        <h1>{{ _("Bonjour, %(name)s !", name=current_user.prenom) }}</h1>
    </div>
</div>
<div class="row">
    <div class="col"><p>
        {{ _("Bienvenue sur l'IntraRez ! Cette version moderne du vieux site "
             "d'enregistrement que vous avez peut-être connu n'en est encore "
             "qu'à ses balbutiements, et nous avons plein d'idées de "
             "fonctionnalités qui devraient voir le jour sous peu.") }}
    </p></div>
</div>
<div class="row mb-3">
    <div class="col"><p>
        {{ _("Une idée, un commentaire ? N'hésitez pas à ") }}
        <a href="{{ url_for("main.contact") }}">{{ _("nous en faire part") }}
        </a> !
    </p></div>
</div>
<div class="row row-cols row-cols-xl-3 gy-4 gx-1">
    <div class="col"><div class="card p-card bg-pc5 border-pc4 border-2 h-100">
        <div class="card-body d-flex align-items-center mb-2">
            <h3 class="card-title me-auto my-0">{{ _("Mon profil") }}</h3>
                <svg class="bi flex-shrink-0" width="36" height="36"
                     role="img">{{ bootstrap_icon("person-badge") }}
                </svg>
        </div>
        <div class="h-100">
            <table class="table table-striped table-borderless"><tbody>
                <tr><th scope="row" class="ps-4">{{ _("Mon compte") }}</th>
                    <td>{{ current_user.username }}</td></tr>
                <tr><th scope="row" class="ps-4">{{ _("Ma chambre") }}</th>
                    <td>{{ current_user.current_room.num }}</td></tr>
                <tr><th scope="row" class="ps-4">{{ _("Nombre d'appareils") }}
                    </th>
                    <td>{{ len(current_user.devices) }}</td></tr>
            </tbody></table>
        </div>
        <div class="card-body">
            <a href="{{ url_for("main.profile") }}" class="btn btn-outline-dark">
                {{ _("Voir mon profil") }}
            </a>
        </div>
    </div></div>

    <div class="col"><div class="card p-card bg-pc5 border-pc4 border-2 h-100">
        <div class="card-body d-flex align-items-center mb-2">
            <h3 class="card-title me-auto my-0">{{ _("À venir") }}</h3>
                <svg class="bi flex-shrink-0" width="36" height="36"
                     role="img">{{ bootstrap_icon("three-dots") }}
                </svg>
        </div>
        <table class="table table-striped table-borderless"><tbody>
            <tr><th class="ps-4">
                    <span class="placeholder col-6"></span>
                </th>
                <td>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                </td>
            </tr>
            <tr><th class="ps-4">
                    <span class="placeholder col-3"></span>
                </th>
                <td>
                    <span class="placeholder col-6"></span>
                </td>
            </tr>
            <tr><th class="ps-4">
                    <span class="placeholder col-5"></span>
                </th>
                <td>
                    <span class="placeholder col-3"></span>
                    <span class="placeholder col-4"></span>
                </td>
            </tr>
        </tbody></table>
        <div class="card-body">
            <a class="btn btn-dark disabled placeholder col-6">
            </a>
        </div>
    </div></div>

</div>

{% endblock %}
