{% extends "base.html" %}

{% block app_content %}

    <div class="row mb-3">
        <div class="col">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row"><p>
        {{ _("Ce site est créé, géré et hébergé par le club GRI – BDE ESPCI "
             "Paris - PSL.") }}
    </p></div>
    <div class="row"><p>
        {{ _("Il n'est accessible que depuis le réseau interne.") }}
    </p></div>
    <div class="row"><p>
        <a href="{{ url_for("main.contact") }}">{{ _("Contactez-nous") }}</a>
        {{ _("pour toute question relative à la gestion de vos données.") }}
    </p></div>
    <!-- Le premier non-GRI qui voit ça peut nous contacter pour nous dire
     que le poulet est entré dans la mare, on lui offriera une bière
     (ou autre chose à sa convenance). Mais honnêtement, j'ai pas trop
     peur pour mon portefeuille. -->
    <!-- OK en fait même le premier GRI qui voit ça peut me contacter... -->

{% endblock %}
