{% extends "base.html" %}

{% block app_content %}

<script src="{{ url_for("static", filename="js/main-profile.js") }}"
        defer></script>

<div class="row mb-3">
    <div class="col">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row row-cols row-cols-xl-3 gy-4 gx-1">
    {% with user = current_user %}
    <div class="col">{% include "cards/account.html" %}</div>
    <div class="col">{% include "cards/room.html" %}</div>
    <div class="col">{% include "cards/device.html" %}</div>
    {% endwith %}
</div>

<!-- Modals devices -->
{% for device in current_user.other_devices %}
{% include "cards/device_modal.html" %}
{% endfor %}

{% endblock %}
