{% extends "base.html" %}

{% block app_content %}
    {% if g.logged_in %}
    <h1>{{ _("Bonjour, %(name)s !", name=g.rezident.username) }}</h1>
    {% else %}
    <h1>{{ _("Salutations, inconnu !") }}</h1>
    {% endif %}

<div class="row">
<div class="col">
    <ul>
      {% for name, obj in g.__dict__.items() %}
        <li><code>g.{{ name }}</code>: <code>{{ obj }}</code></li>
      {% endfor %}
    </ul>
</div>
</div>

    <div class="bd-content ps-lg-4">
<div class="row">

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-primary text-white">Primary</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-secondary text-white">Secondary</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-success text-white">Success</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-danger text-white">Danger</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-warning text-dark">Warning</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-info text-dark">Info</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-light text-dark">Light</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-dark text-white">Dark</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-pc1 text-white">PC1</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-pc2 text-white">PC2</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-pc3 text-white">PC3</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-pc4 text-white">PC4</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-pc5 text-white">PC5</div>
    </div>

</div>
      </div>
      <ul>
      {% for name, obj in pt.items() %}
          <li><code>{{ name }}</code>: <code>{{ obj }}</code></li>
      {% endfor %}
      </ul>
{% endblock %}
