{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <h1>{{ _("Bonjour, %(name)s !", name=current_user.username) }}</h1>
    {% else %}
    <h1>{{ _("Salutations, inconnu !") }}</h1>
    {% endif %}
    <div class="bd-content ps-lg-4">


        <h2 id="theme-colors">Theme colors<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#theme-colors" style="padding-left: 0.375em;"></a></h2>
<p>We use a subset of all colors to create a smaller color palette for generating color schemes, also available as Sass variables and a Sass map in Bootstrap’s <code>scss/_variables.scss</code> file.</p>
<div class="row">

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-primary text-white">Primary</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-secondary text-white">Secondary</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-success text-white">Success</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-danger text-white">Danger</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-warning text-dark">Warning</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-info text-dark">Info</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-light text-dark">Light</div>
    </div>

    <div class="col-md-4">
      <div class="p-3 mb-3 bg-dark text-white">Dark</div>
    </div>

</div>
      </div>
      <ul>
      {% for name, obj in pt.items() %}
          <li><code>{{ name }}</code>: <code>{{ obj }}</code></li>
      {% endfor %}
      </ul>
{% endblock %}
