/* Custom stylesheet */

/* Logo liens externes */
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

/* Process enregistrement */
.registration-steps {
    height: 40px !important;
}

/* Nous contacter */
.gri-card {
    width: 16rem;
}

/* Profil */
.p-card {
    width: 22rem;
}

/* Textarea */
.lines-6 {
    height: 150px !important;
}
