/* Custom stylesheet */

/* Logo liens externes */
a[rel="external"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

/* Process enregistrement */
.registration-steps {
    height: 40px !important;
}

/* Nous contacter */
.gri-card {
    width: 16rem;
}

/* Profil */
.p-card {
    width: 22rem;
}

/* Offer */
.o-card {
    width: 19rem;
}

/* Textarea */
.lines-6 {
    height: 150px !important;
}

/* Maintenance stripes overlay */
.maintenance-stripes {
    background: repeating-linear-gradient(
        -45deg,
        #000000,
        #000000 25px,
        #ffff00 25px,
        #ffff00 50px
    );
    opacity: 50%;
    z-index: 10;
}
