{% extends "mails_base.html" %}

{% block app_content %}

<div class="row mb-3">
    <div class="col">
        <h2>{{ _("Réinitialisation du mot de passe") }}</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>{{ _("Bonjour %(name)s,", name=rezident.prenom) }}</p>
        <p>
            {{ _("Pour réinitialiser votre mot de passe, appuyez simplement "
                 "sur le bouton ci-dessous :") }}
        </p>
    </div>
</div>
<div class="row mb-3">
    <div class="col text-center">
        <a class="btn btn-primary mx-3 my-2"
           href="{{ url_for("auth.reset_password", token=token) }}">
            {{ _("Réinitialiser mon mot de passe") }}
        </a>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <p class="fs-italic">
            {{ _("Si vous n'avez pas fait de demande de réinitialisation de "
                 "mot de passe, merci d'ignorer cet email.") }}
        </p>
        <p>
            {{ _("Pour toute question ou pour plus d'informations, vous "
                 "pouvez simplement répondre à cet email.") }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            {{ _("Très bonne journée,") }}
        </p>
        <p>
            {{ _("Les GRI") }}
        </p>
    </div>
</div>

{% endblock %}
