{% extends "base.html" %}

{% block app_content %}

<div class="row mb-3">
    <div class="col">
        <h1>{{ title }}</h1>
        <p>{{ _("Les statistiques ci-dessous sont protégées par "
                "l'authentification BASIC suivante :") }}</p>
        <ul>
            <li>{{ _("Username :" )}} <code>gri</code></li>
            <li>
                {{ _("Mot de passe :" )}}
                <code>{{ config["GRI_BASIC_PASSWORD"] }}</code>
                {# Bah on va pas le mettre en dur quand même, c'est
                   open source... #}
            </li>
        </ul>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <iframe src="/_darkstat" class="w-100 vh-100"></iframe>
    </div>
</div>

{% endblock %}
