{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for("static", filename="js/gris-rezidents.js") }}"
        defer></script>
{% endblock %}

{% block app_content %}

<div class="row mb-3">
    <div class="col">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row mb-3"><div class="col table-responsive">
    <table class="table table-striped table-hover table-bordered"><thead>
        <tr>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('id');">
                    <span>{{ _("ID") }}</span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                            id="sort-svg-id">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('acc');">
                    <span>{{ _("Compte") }}</span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                            id="sort-svg-user">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('room');">
                    <span>{{ _("Chambre") }}</span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                            id="sort-svg-room">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('dev');">
                    <span>{{ _("Appareils") }}</span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                            id="sort-svg-dev">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('sub');">
                    <span>{{ _("Abonnement") }}</span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                            id="sort-svg-sub">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('ls');">
                    <span>{{ _("Dernière connexion") }}</span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                            id="sort-svg-ls">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('flag');">
                    <span>
                        <svg class="bi flex-shrink-0" width="22" height="22">
                            {{ macros.bootstrap_icon("globe") }}
                        </svg>
                    </span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                            id="sort-svg-flag">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
        </tr></thead>
        <tbody id="rezidents-table">
        {% for rezident in rezidents %}
        {% with subscription = rezident.current_subscription %}
        <tr data-id="{{ str(rezident.id).rjust(4, '0') }}"
            data-acc="{{ rezident.full_name }}"
            data-room="{{ rezident.current_room.num
                          if rezident.current_room else 0 }}"
            data-dev="{{ len(rezident.devices) }}"
            {% if not subscription %}
            data-sub="0"
            {% elif rezident.sub_state == SubState.subscribed %}
            data-sub="{{ 200000 + subscription.end.toordinal() }}"
            {% elif rezident.sub_state == SubState.trial %}
            data-sub="{{ 100000 + subscription.end.toordinal() }}"
            {% else %}
            data-sub="{{ subscription.end.toordinal() }}"
            {% endif %}
            data-ls="{{ rezident.last_seen.timestamp()
                        if rezident.last_seen else 0 }}"
            data-flag="{{ rezident.locale or "" }}"
        >
            <td{% if rezident.is_gri %} class="text-danger fw-bold"{% endif %}>
                {{ rezident.id }}
            </td>

            <td><span class="d-flex">
                <span>
                    {{ rezident.prenom }} {{ rezident.nom }}
                    {{ rezident.promo }}
                </span>
                <span class="ms-auto">
                    <button type="button" class="btn p-0 me-1 d-inline-block"
                            data-bs-target="#mo-account-{{ rezident.id }}"
                            data-bs-toggle="modal">
                        <svg class="bi flex-shrink-0" width="24" height="24"
                                role="img" aria-label="{{ _("Compte") }}">
                                {{ macros.bootstrap_icon("person-badge") }}
                        </svg>
                    </button>
                </span>
            </span></td>

            <td><span class="d-flex">
                <span>
                    {% if rezident.current_room %}
                    {{ rezident.current_room.num }}
                    {% else %}
                    {{ _("Aucune") }}
                    {% endif %}
                    {% if rezident.old_rentals %}
                    (+{{ len(rezident.old_rentals) }})
                    {% endif %}
                </span>
                <span class="ms-auto">
                    <button type="button" class="btn p-0 me-1 d-inline-block"
                            {% if rezident.current_room
                                  or rezident.old_rentals %}
                            data-bs-target="#mo-room-{{ rezident.id }}"
                            data-bs-toggle="modal"
                            {% else %} disabled
                            {% endif %}>
                        <svg class="bi flex-shrink-0" width="24" height="24"
                                role="img" aria-label="{{ _("Chambre") }}">
                            {{ macros.bootstrap_icon("door-closed") }}
                        </svg>
                    </button>
                </span>
            </span></td>

            <td><span class="d-flex">
                <span>
                    {{ len(rezident.devices) }}
                </span>
                <span class="ms-auto">
                    <button type="button" class="btn p-0 me-1 d-inline-block"
                            {% if rezident.current_device %}
                            data-bs-target="#mo-device-{{ rezident.id }}"
                            data-bs-toggle="modal"
                            {% else %} disabled
                            {% endif %}>
                        <svg class="bi flex-shrink-0" width="24" height="24"
                                role="img" aria-label="{{ _("Appareil") }}">
                            {{ macros.bootstrap_icon("laptop") }}
                        </svg>
                    </button>
                </span>
            </span></td>

            <td><span class="d-flex">
                <span>
                    {% if not subscription %}
                    {{ _("Aucun") }}
                    {% elif rezident.sub_state == SubState.subscribed %}
                    {{ _("Abonné(e)") }} (&rarr; {{ moment(
                            subscription.end
                        ).format("LL") }})
                    {% elif rezident.sub_state == SubState.trial %}
                    {{ _("Mois offert") }} (&rarr; {{ moment(
                            subscription.cut_day
                        ).format("LL") }})
                    {% else %}
                    {{ _("Hors-la-loi") }} (&#9587; {{ moment(
                            subscription.cut_day
                        ).format("LL") }})
                    {% endif %}
                </span>
                <span class="ms-auto">
                    <button type="button" class="btn p-0 me-1 d-inline-block"
                            {% if subscription %}
                            data-bs-target="#mo-sub-{{ rezident.id }}"
                            data-bs-toggle="modal"
                            {% else %} disabled
                            {% endif %}>
                        {% if not subscription %}
                        <svg class="bi flex-shrink-0 text-muted"
                             width="24" height="24">
                            {{ macros.bootstrap_icon("circle-fill") }}
                        </svg>
                        {% elif rezident.sub_state == SubState.subscribed %}
                        <svg class="bi flex-shrink-0 text-success"
                             width="24" height="24">
                            {{ macros.bootstrap_icon("check-circle") }}
                        </svg>
                        {% elif rezident.sub_state == SubState.trial %}
                        <svg class="bi flex-shrink-0 text-warning"
                             width="24" height="24">
                            {{ macros.bootstrap_icon("exclamation-circle-fill") }}
                        </svg>
                        {% else %}
                        <svg class="bi flex-shrink-0 text-danger"
                             width="24" height="24">
                            {{ macros.bootstrap_icon("x-circle-fill") }}
                        </svg>
                        {% endif %}
                    </button>
                </span>
            </span></td>

            <td>
            {% if rezident.current_device %}
                <span title="{{ rezident.current_device.last_seen }} UTC">
                {{ moment(rezident.current_device.last_seen).format("LLL") }}
                </span>
            {% endif %}
            </td>

            <td>
                {% if rezident.locale %}
                <img class="flex-shrink-0" src="{{
                        url_for("static",
                                filename="svg/lang/{}.svg".format(rezident.locale))
                     }}" width="22" height="22">
                </img>
                {% else %}
                –
                {% endif %}
           </svg>
            </td>

        </tr>
        {% endwith %}
        {% endfor %}
    </tbody></table>
</div></div>

<!-- Modals -->
{% for rezident in rezidents %}
{% with doas = rezident.id %}
<div class="modal fade" id="mo-account-{{ rezident.id }}" tabindex="-1"
     aria-labelledby="mo-account-lab" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="mo-account-lab">{{ _("Compte") }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="{{ _("Fermer") }}"></button>
        </div>
        <div class="modal-body">
            {% include "cards/account.html" %}
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">
                {{ _("Fermer") }}
            </button>
        </div>
    </div></div>
</div>

<div class="modal fade" id="mo-room-{{ rezident.id }}" tabindex="-1"
     aria-labelledby="mo-room-lab" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="mo-room-lab">{{ _("Chambre") }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="{{ _("Fermer") }}"></button>
        </div>
        <div class="modal-body">
            {% include "cards/room.html" %}
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">
                {{ _("Fermer") }}
            </button>
        </div>
    </div></div>
</div>

{% if rezident.current_device %}
<div class="modal fade" id="mo-device-{{ rezident.id }}" tabindex="-1"
     aria-labelledby="mo-device-lab" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="mo-device-lab">{{ _("Appareils") }}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="{{ _("Fermer") }}"></button>
        </div>
        <div class="modal-body">
            {% include "cards/device.html" %}
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">
                {{ _("Fermer") }}
            </button>
        </div>
    </div></div>
</div>
{% endif %}

{% if rezident.current_subscription %}
<div class="modal fade" id="mo-sub-{{ rezident.id }}" tabindex="-1"
     aria-labelledby="mo-sub-lab" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="mo-sub-lab">{{ _("Abonnement") }}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="{{ _("Fermer") }}"></button>
        </div>
        <div class="modal-body">
            {% include "cards/subscription.html" %}
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">
                {{ _("Fermer") }}
            </button>
        </div>
    </div></div>
</div>
{% endif %}

{% for device in rezident.other_devices %}
{% include "cards/device_modal.html" %}
{% endfor %}

{% endwith %}
{% endfor %}

<!-- Sort icons templates -->
<div id="icon-template-down">
    {{ macros.bootstrap_icon("caret-down-fill") }}
</div>
<div id="icon-template-up">
    {{ macros.bootstrap_icon("caret-up-fill") }}
</div>

{% endblock %}
