{% block doc %}
<!DOCTYPE html>
<html lang="{{ babel.get_locale() }}">
    {% block html %}
    <head>
        {% block head %}
        {% block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock metas %}
        {% endblock head %}
    </head>
    <body {% block body_attribs %}{% endblock body_attribs %}
          style="font-family: system-ui, -apple-system, Segoe UI, Roboto,
                              Helvetica Neue, Arial, Noto Sans, Liberation Sans,
                              sans-serif, Apple Color Emoji, Segoe UI Emoji,
                              Segoe UI Symbol, Noto Color Emoji;">
        {% block body %}
        {% block navbar %}
        <div class="navbar navbar-light mb-4 py-0 bg-primary border-bottom
                    border-2 border-secondary">
            <div class="container-fluid ps-0">
                <a class="navbar-brand p-0" href="{{ url_for("main.index") }}">
                    <img src="{{ url_for("static", filename="img/gri.png") }}"
                         width="80" height="80"
                         class="d-inline-block m-0" alt="GRI ESPCI">
                    <span class="align-text-top">/&nbsp;<b>IntraRez</b></span>
                    {% if config.get("BRANCH") %}
                    <span class="badge rounded-pill bg-warning text-dark ms-2">
                        {{ config["BRANCH"] }}
                    </span>
                    {% endif %}
                </a>
            </div>
        </div>
        {% endblock navbar %}
        {% block content %}
        <div style="margin-right: 5%; margin-left: 5%;">
            {% block app_content %}{% endblock app_content %}
        </div>
        {% endblock content %}
        {% block footer %}
        <div class="bd-footer pt-3 mt-3 bg-light"
             style="padding-right: 5%; padding-left: 5%;">
        <div class="container py-3">
        <div class="row">
            <div class="col-auto me-5">
                <a class="d-inline-flex align-items-center mb-2
                            link-dark text-decoration-none fs-5"
                    href="{{ url_for("main.index") }}">
                    Intranet de la Rez
                </a>
                <div class="small text-muted mb-3">
                    &copy;&nbsp;2021 GRI ESPCI –
                    <a href="{{ url_for("main.changelog") }}"
                        class="text-muted">
                        {{ _("Version") }} {{ __version__ }}
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="row mt-1 mb-2">
                        <div class="col text-muted">
                            {{ _("Vous recevez cet email car vous avez un "
                                 "compte actif sur l'IntraRez.") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto mb-2 me-4">
                            <a href="{{ url_for("main.index") }}"
                            class="link-secondary">
                                {{ _("Accueil") }}
                            </a>
                        </div>
                        <div class="col-auto mb-2 me-4">
                            <a href="{{ url_for("main.contact") }}?title={{
                                   _("Je ne souhaite plus recevoir d'e-mails")
                               }}"
                               class="link-secondary">
                                {{ _("Se désinscrire") }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        {% endblock footer %}
        {% endblock body %}
    </body>
    {% endblock html %}
</html>
{% endblock doc %}
